*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  list-style: none;
}
/* custom styles */
:root {
  /* Colors */
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-cyan-light: hsl(178, 48%, 52%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  /**
    I know that you are supposed to create custom variables for fonts, but the fonts for this design were really inconsistent and that's why I decided not to go with custom variables for fonts. 

    Of course, any suggestion is always welcome...
  */
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.3;
  background-color: var(--clr-light-gray);
  padding: 4.5rem 2rem 3.875rem 2rem; /*copied from figma...*/
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 37.5rem) {
    height: 100vh;
  }
}
article {
  min-width: 19.4375rem /* 311px -> 19.4375rem */;
  max-width: 39.6875rem /* 635px -> 39.6875rem */;
  border-radius: 0.3125rem;
  overflow: hidden; /*border radius won't be available if the overflow is not hidden*/
  @media only screen and (min-width: 37.5rem /* 600px -> 37.5rem */) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.community {
  background-color: var(--clr-white);
  padding: 1.75rem 1.5rem;

  @media only screen and (min-width: 37.5rem) {
    grid-column: span 2;
    padding: 2.5rem /* 40px -> 2.5rem */;
  }
}

.community__heading {
  color: var(--clr-cyan);
  font-weight: bold;
  font-size: 1.25rem /* 20px -> 1.25rem */;
  @media only screen and (min-width: 37.5rem) {
    font-size: 1.5rem /* 24px -> 1.5rem */;
  }
}

.community__subheading {
  color: var(--clr-bright-yellow);
  font-weight: bold;
  font-size: 0.9375rem /* 15px -> .9375rem */;
  @media only screen and (min-width: 37.5rem) {
    font-size: 1.125rem /* 18px -> 1.125rem */;
  }
}

.community__description {
  color: var(--clr-grayish-blue);
  line-height: 1.625;
  font-size: 0.875rem /* 14px -> .875rem */;
  @media only screen and (min-width: 37.5rem) {
    font-size: 1rem;
    margin: 0;
  }
}

.subscription {
  padding: 1.5rem /* 24px -> 1.5rem */;
  background-color: var(--clr-cyan);
  color: var(--clr-white);
  @media only screen and (min-width: 37.5rem) {
    padding: 2.5rem /* 40px -> 2.5rem */;
  }
}

.subscription__heading {
  font-size: 1.125rem /* 18px -> 1.125rem */;
}
.subscription__price {
  display: flex;
  align-items: center;
  gap: 0.6875rem /* 11px -> .6875rem */;
  font-size: 2rem /* 32px -> 2rem */;
  font-weight: 700;
}
.subscription__price span {
  font-size: 1rem /* 16px -> 1rem */;
  opacity: 0.5;
}
.subscription__info {
  margin-bottom: 1.625rem /* 26px -> 1.625rem */;
}
.subscription__btn {
  display: inline-block;
  background-color: var(--clr-bright-yellow);
  color: var(--clr-white);
  padding: 0.875rem 6.375rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  border-radius: 0.3125rem /* 5px -> .3125rem */;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: 37.5rem) {
    padding: 0.875rem 5.5625rem;
  }
}

.why {
  padding: 1.5rem /* 24px -> 1.5rem */;
  background-color: var(--clr-cyan-light);
  color: var(--clr-white);

  @media only screen and (min-width: 37.5rem) {
    padding: 2.5rem /* 40px -> 2.5rem */;
  }
}
.why__heading {
  font-size: 1rem /* 16px -> 1rem */;

  @media only screen and (min-width: 37.5rem) {
    font-size: 1.125rem /* 18px -> 1.125rem */;
  }
}
.why__features {
  padding: 0;
  opacity: 0.75;
  font-size: 0.875rem /* 14px -> .875rem */;

  @media only screen and (min-width: 37.5rem) {
    line-height: 20px;
    margin-bottom: 0;
  }
}
